body{
  margin: 0;
  width: 100%;
  text-align: center;
}

.newspaper{
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  margin-bottom: 0px;
} 


#intro{
  position: absolute;
  top: 43%;
  left: 14%;
}


.video-container {
  padding-bottom: 56.25%;
  padding-top: 35px;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}
.video-container iframe {
  position: absolute;
  top: 47%;
  left: 14%;
  width: 50%;
  height: 52%;
}

.video-container1 {
  position:relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}
.video-container1 iframe {
  position: absolute;
  top: auto;
  left: 0;
  width: 100%;
  height: 100%;
}


.headline{
  position: relative;
  text-transform: uppercase;
  margin-top: 10%;
  left: 50%;
  margin-left: -400px;
  top: 28%;
  text-emphasis: bold;
  font: 300% Times, Arial;
}




.column1 {
  position: absolute;
  top: 100%;
  margin-left: 14%;
  float: left;
  width: 25%;
  text-align: left;

}

.column2 {
  position: absolute;
  top: 100%;
  margin-left: 40%;
  float: left;
  width: 25%;
  text-align: left;

}


.column3 {
  position: absolute;
  top: 45%;
  margin-left: 66%;
  float: left;
  width: 20%;
  text-align: left;
}


/* Clear floats after the columns */
.row:after {
  position: absolute;
  top: 30%;
  content: "";
  display: table;
  clear: both;
}


#icon1{
  position: absolute;
  top: 43%;
  left: 14%;
  width: 3cm
}

.img1 {
  width: 100%;
  height: auto;
}
