body{
  background: url("https://st2.depositphotos.com/5477854/9453/i/950/depositphotos_94537410-stock-photo-vertical-blank-old-vintage-paper.jpg");
  margin: 0;
  width: 100%;
  text-align: center;
}

.newspaper{
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  margin-bottom: 0px;
} 

.headline{
  position: absolute;
  text-transform: uppercase;
  left: 50%;
  margin-left: -400px;
  top: 32%;
  text-emphasis: bold;
  font: 300% Times, Arial;
  font-size: 3.4vw;  
}


.video-container {
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 47%;
  left: 14%;
  width: 50%;
  height: 52%;
}

.video-container1 {
  position:relative;
  padding-bottom: 56.25%;

  height: 0;
  overflow: hidden;
}
.video-container1 iframe {
  position: absolute;
  top: auto;
  left: 0;
  width: 100%;
  height: 100%;
}



#column1 {
  position: absolute;
  top: 100%;
  margin-left: 14%;
  float: left;
  width: 25%;
  text-align: left;
  padding: 10px;
  flex: 33.33%;

}

#column2 {
  position: absolute;
  top: 100%;
  margin-left: 40%;
  float: left;
  width: 25%;
  text-align: left;
  padding: 10px;
  flex: 33.33%;
}



#column3 {
  position: absolute;
  top: 45%;
  margin-left: 66%;
  float: left;
  width: 20%;
  text-align: left;
  padding: 10px;
  flex: 33.33%;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row{
  display:flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 900px)  {
  #column1, #column2, #column3 {
    display: block;
    flex: 100%;

    flex-direction: column;
  }
}



* {
    box-sizing: border-box;
  }

#icon1{
  position: absolute;
  top: 43%;
  left: 14%;
  width: 3cm
}

.img1 {
  width: 100%;
  height: auto;
}
